<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="add()" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" name="name" ngModel #name="ngModel" required>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="number" id="amount" class="form-control" name="amount" ngModel #amount="ngModel" required>
        </div>
        <span class="help-block" *ngIf="!f.valid&&f.touched">
          <span class="help-block" *ngIf="name.hasError('required')&&name.touched">Please enter a name</span>
          <span class="help-block" *ngIf="amount.hasError('required')&&amount.touched">Please enter an amount</span>
        </span>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button [disabled]="f.invalid" class="btn btn-success" type="submit">{{editMode ? 'Update':'Add'}}</button>
          <button class="btn btn-danger" type="button" (click)="remove()">Delete</button>
          <button class="btn btn-primary" type="button" (click)="clear()">Clear</button>
          <p class="text text-danger">{{alert}}</p>

        </div>
      </div>
    </form>
  </div>
</div>
